extends layout

block content
  h2 Welcome to IIIT-SURAT
  .jumbotron
    h1 Hello, #{user.name}
    p 
        .row.mx-auto
          .col Email : #{user.email} 
          .col College : #{user.college} 
          .col branch : #{user.branch} 
          .col year  :#{user.year} 
    p: a.btn.btn-primary.btn-lg Information
